:root{
    /* background */
    --light-grey: hsl(200, 16%, 95%);
    --torquiose: HSL: hsl(172, 69%, 56%);
    /* primary color */
    --Dogger-blue:  hsl(214, 66%, 53%);
    --Slate-slue: hsl(232, 26%, 46%);
    /* text-color */
    --Dark-blue: hsl(244, 59%, 18%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh; 
    background-color: var(--light-grey);
    color: var(--Dark-blue);
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
}

img{
    max-width: 100%;
}


