:root{
    /* background */
    --light-grey: hsl(200, 16%, 95%);
    --torquiose: hsl(172, 69%, 56%);  
    /* primary color */
    --Dogger-blue:  hsl(214, 66%, 53%);
    --Slate-slue: hsl(232, 26%, 46%);
    /* text-color */
    --Dark-blue: hsl(244, 59%, 18%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container{
    padding: 2rem; 
    position: relative;
}

.about-game{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

.about-game button{
    border: 1px groove var(--Dark-blue); 
    color: var(--light-grey);
    background-color: var(--Dogger-blue);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
body{
    height: 100vh; 
    background-color: var(--light-grey);
    color: var(--Dark-blue);
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
}

:dark-mode{
    background-color: var(--Dark-blue);
    color: var(--light-grey);
}

img{
    max-width: 100%;
}

.theme-toggler img{
    position: absolute;
    right: 5%;
    width: 25px;
    height: 25px;
}

h1{
    font-size: 2.2rem;
    margin-top: 4rem;
}

.light-toggle{
    display: none;
}


@media screen and (min-width: 768px){
    
    .theme-toggler img{
        width: 30px;
        height: 30px;
    }
    h1{
        font-size: 8rem; 
        margin-top: 0;
    }
} 